.cardMovie img {
    display: block; /* Cambiar a block para tratar la imagen como un elemento de bloque */
    margin-left: auto; /* Centrar la imagen a la izquierda */
    margin-right: auto; /* Centrar la imagen a la derecha */
    max-width: 40%; /* Limitar el tamaño máximo de la imagen */
    height: auto; /* Mantener la proporción original */
    object-fit: cover; /* Asegura que la imagen se cubra sin deformarse */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentMovies{
    margin: 3vh 10vh 3vh 10vh;
    
}

