/* Fondo de la página con imagen en movimiento */
body {
    background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBvc2N1cm98ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-attachment: fixed;
    animation: moveBackground 30s linear infinite;
    color: black;
}

/* Animación para mover la imagen de fondo */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Imagen dentro de la tarjeta de película */
.cardMovie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    max-width: 65%;
    height: auto;
    object-fit: cover;
}

/* Cuerpo de la tarjeta centrado con flexbox */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo general de las tarjetas */
.card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Estilo de la tarjeta al hacer hover */
.card:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Márgenes alrededor del contenedor de películas */
.contentMovies {
    margin: 3vh 10vh;
}

/* Barra de navegación transparente */
.navbar {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 20px;
    width: 80% !important;
    color: white;
}

/* Modal de imagen con tamaño máximo del 80% */
#modalImage {
    width: 80%;
}

/* Estilo del contenido dentro del modal */
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 10px;
    color: black;
}

/* Estilo de la imagen dentro del modal */
.modal-body img {
    max-width: 70%;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Contenedor de texto dentro del modal centrado */
.modal-body .text-start {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

/* Centra los elementos en la cabecera y pie del modal */
.modal-header, .modal-footer {
    justify-content: center;
}

/* Estilo para los botones en el pie del modal */
.modal-footer button {
    padding: 5px 15px;
    font-size: 14px;
}
